<footer class="container">

<strong>  <p><i class="fa fa-code" style="font-size:25px;"></i>  With <i class="fa fa-heart" style="font-size:25px;color:red;"></i> in <i class="fa fa-node-js"></i> From <i class="fa fa-nepal"></i> <br /> &copy;  2017-2018</p>

  </strong>
</footer>
