
<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../../../favicon.ico">

    <title><%= title %></title>

    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="/css/font-awesome.css">
    <link href="/css/style.css" rel="stylesheet">
    <link href="/css/custom.css" rel="stylesheet">
    <!-- Custom styles for this template -->


  </head>

  <body>
<% include ./partials/navbar %>






<div class="container" >
  <div class="container">
    <!-- Example row of columns -->
    <div class="row">
      <div class="col-12">
        <%- body -%>

      </div>

    </div>



  </div>

</div>





<br>
<% include ./partials/footer %>

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
<script src="/js/jquery.min.js"></script>
<script src="/js/custom.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js">
</script>
  </body>
</html>
