<% layout('layout') -%>




<div class="jumbotron">
  <div class="container">
    <h1>Shop Smart, Save Big</h1>

    <p>Starting Point to create something more unique</p>
    <p><a class="btn btn-primary btn-lg" href="#" role="button">Learn more &raquo;</a></p>
  </div>
</div>

<div class="container">
  <!-- Example row of columns -->
  <div class="row">
    <div class="col-md-4">

      <h3>Start you search here</h3>
      <p><a class="btn btn-secondary" href="#" role="button">View details &raquo;</a></p>
    </div>
    <div class="col-md-4">
      
      <h3>Start you search here</h3>
      <p><a class="btn btn-secondary" href="#" role="button">View details &raquo;</a></p>
    </div>
    <div class="col-md-4">
      <h3>Build a smart cart</h3>
      <p>The more smart items you buy together, the more you save :)</p>
      <p><a class="btn btn-secondary" href="#" role="button">View details &raquo;</a></p>
    </div>
  </div>

  <hr>

</div> <!-- /container -->
